// Hero section styles
.hero {
  @include flexCenter;
  height: 100vh;

  @include respond(big-desk) {
    margin-left: 2rem;
  }

  @include respond(phone) {
    height: 100%;
  }

  // Info section styles
  &__info {
    flex-basis: 40%;
    width: 95%;

    @include respond(big-desk) {
      flex-basis: 25%;
    }

    @include respond(tab-port) {
      text-align: center;
      margin: 0;
      width: 85%;
    }

    @include respond(phone) {
      width: 95%;
      margin-bottom: 5rem;
    }

    & h1 {
      font-size: 3.3rem;
      font-weight: bold;
    }

    & p {
      font-size: 1.25rem;
      @include ParagraphSpaceHeight;
      color: $text-color;
      margin: 1rem 0;
      font-weight: 200;
    }

    &--wave {
      display: inline-block;
      animation: wave-animation 3s linear infinite;
    }
  }

  // Icons section styles
  &__icons {
    display: flex;
    gap: 1rem;
    transition: color 0.3s ease-in-out;

    & a {
      font-size: 2.5rem;
      color: rgba(#000, 0.55);
    }

    @include respond(tab-port) {
      justify-content: center;
    }
  }

  // Tech section styles
  &__tech {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include respond(med-desk) {
      flex-wrap: nowrap;
    }

    @include respond(tab-port) {
      flex-direction: column;
    }

    &__mobile {
      display: flex;

      @include respond(tab-port) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &--border {
      position: relative;
      height: 2rem;
      width: 0.15rem;
      background-color: $primary-color;
      margin-left: 1rem;

      @include respond(tab-port) {
        height: 0.15rem;
        width: 6rem;
        margin-left: 0;
        margin-bottom: 
        margin-bottom: 1rem;
      }
    }

    & li {
      list-style: none;
      border-radius: 100%;
      margin-left: 1rem;
      padding: 0.6rem;
      background-color: #f7f5f5;
      box-shadow: 0 0.3rem 0.3rem rgba(#000, 0.4);

      @include respond(tab-port) {
        margin-top: 1rem;
      }
    }

    & li img {
      height: 2.2rem;
      width: 2.2rem;
      text-align: center;
    }
  }

  // Git and link hover effects
  &__git,
  &__link {
    transition: color 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &__git:hover {
    color: #6e5494;
  }

  &__link:hover {
    color: #0072b1;
  }

  // Image section styles
  &__img {
    flex-basis: 30%;
    position: relative;
    margin-left: 5rem;
    width: 100%;
    bottom: 11rem;

    @include respond(big-desk) {
      flex-basis: 25%;
    }

    @include respond(tab-land) {
      width: 50%;
      margin: 0 auto;
      bottom: 3rem;
    }

    @include respond(phone) {
      bottom: 4rem;
      width: 100%;
      margin: 11rem auto;
    }

    @include respond(iphone) {
      margin-top: 5rem;
    }
  }
}

// Morph effect styles
.morph-effect {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 60% 40%;
  animation: morph 7s infinite, rainbow 15s linear infinite;
  opacity: 1;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  border: 6px solid rgb(0, 0, 0);

  @include respond(tab-port) {
    margin: 0 auto;
    width: 25rem;
    height: 20rem;
  }
  @include respond(phone) {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 18rem;
    height: 15rem;
  }
}

// Image container styles
.image {
  position: relative;
  height: 28rem;
  width: 25rem;

  @include respond(tab-port) {
    bottom: 2rem;
  }
  @include respond(phone) {
    width: 20rem;
    bottom: 4rem;
    height: fit-content;
  }
}
