@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");
@keyframes rainbow {
  0% {
    border-color: #ff7f50;
  }
  14% {
    border-color: #ffae88;
  }
  28% {
    border-color: #ff563b;
  }
  42% {
    border-color: #0f52f9;
  }
  57% {
    border-color: #3d89f9;
  }
  71% {
    border-color: #81a8f9;
  }
  85% {
    border-color: #ffc97e;
  }
  100% {
    border-color: #ff7f50;
  }
}
@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  10%, 90% {
    transform: rotate(-10deg);
  }
  20%, 80% {
    transform: rotate(10deg);
  }
  30%, 70% {
    transform: rotate(-10deg);
  }
  40%, 60% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
.fade-in-left {
  opacity: 0;
  animation: fadeInSlideLeft 1s ease-out forwards;
}

.fade-in-right {
  opacity: 0;
  animation: fadeInSlideRight 1s ease-out forwards;
}

.hidden {
  opacity: 0;
  transform: translateY(30px) scale(0.95);
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
@keyframes scroll {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  body {
    overflow-x: hidden;
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  body {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  body {
    font-size: 75%;
  }
}

.nav,
.nav-sticky {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  list-style: none;
  height: 4rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #0072b1;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}
@media (max-width: 56.25em) {
  .nav,
  .nav-sticky {
    flex-direction: column-reverse;
  }
}
.nav__item,
.nav-sticky__item {
  padding-left: 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.nav__item a,
.nav-sticky__item a {
  color: inherit;
  text-decoration: none;
}
.nav__item a:hover,
.nav-sticky__item a:hover {
  color: #3d89f9;
}
.nav__item.active a,
.nav-sticky__item.active a {
  color: #3d89f9;
  font-weight: bold;
}

.nav {
  position: absolute;
}
@media (max-width: 56.25em) {
  .nav {
    display: none;
  }
}

.nav-sticky {
  position: fixed;
  top: -4rem;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.nav-sticky.visible {
  top: 0;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 56.25em) {
  .nav-sticky {
    display: none;
  }
}
.nav-sticky__item.active a {
  color: #3d89f9;
  font-weight: bold;
}

.Mobile {
  display: none;
}
@media (max-width: 56.25em) {
  .Mobile {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1000;
  }
}
.Mobile span {
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #333;
  transition: all 0.3s ease;
  z-index: 1000;
}
.Mobile.clicked span:nth-child(1) {
  transform: translateY(0.65rem) rotate(45deg);
}
.Mobile.clicked span:nth-child(2) {
  opacity: 0;
}
.Mobile.clicked span:nth-child(3) {
  transform: translateY(-0.65rem) rotate(-45deg);
}

.FullScreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-100%);
  overflow-y: auto;
}

.FullScreenMenu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.Mobile__nav {
  font-size: 2rem;
  list-style: none;
  width: 60%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
@media (max-width: 37.5em) {
  .Mobile__nav {
    width: 90%;
  }
}
.Mobile__nav li {
  padding: 1rem 0;
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.4rem;
}
.Mobile__nav li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}
@media (max-width: 56.25em) {
  .hero {
    flex-direction: column-reverse;
  }
}
@media (min-width: 112.5em) {
  .hero {
    margin-left: 5rem;
  }
}
@media (max-width: 37.5em) {
  .hero {
    height: 100%;
    padding: 1rem;
  }
}
.hero__info {
  flex-basis: 40%;
  width: 95%;
  padding: 1rem;
}
@media (min-width: 112.5em) {
  .hero__info {
    flex-basis: 30%;
  }
}
@media (max-width: 56.25em) {
  .hero__info {
    text-align: center;
    margin: 0 auto;
    width: 85%;
  }
}
@media (max-width: 37.5em) {
  .hero__info {
    width: 90%;
    margin-bottom: 5rem;
  }
}
.hero__info h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hero__info p {
  font-size: 1.2rem;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  color: #333;
  margin: 1rem 0;
  font-weight: 200;
}
.hero__info--wave {
  display: inline-block;
  animation: wave-animation 4.4s infinite;
}
.hero__icons {
  display: flex;
  gap: 1rem;
  transition: color 0.3s ease-in-out;
  padding: 1rem;
}
.hero__icons a {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.55);
}
@media (max-width: 56.25em) {
  .hero__icons {
    justify-content: center;
  }
}
.hero__tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 1375px) and (max-width: 2361px) {
  .hero__tech {
    flex-wrap: nowrap;
  }
}
@media (min-width: 74.375em) and (max-width: 85.9375em) {
  .hero__tech {
    flex-wrap: nowrap;
  }
}
@media (max-width: 56.25em) {
  .hero__tech {
    flex-direction: column;
  }
}
.hero__tech__mobile {
  display: flex;
}
@media (max-width: 56.25em) {
  .hero__tech__mobile {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero__tech--border {
  position: relative;
  height: 2rem;
  width: 0.15rem;
  background-color: #0072b1;
  margin-left: 1rem;
}
@media (max-width: 56.25em) {
  .hero__tech--border {
    height: 0.15rem;
    width: 5rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
.hero__tech li {
  list-style: none;
  border-radius: 50%;
  margin-left: 1rem;
  padding: 0.6rem;
  background-color: #f7f5f5;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2), 0.3rem 0 0.3rem rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.hero__tech li::before {
  content: attr(title);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-bottom: 0.5rem;
  z-index: 1;
}
.hero__tech li::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.5rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hero__tech li:hover::before, .hero__tech li:hover::after {
  visibility: visible;
  opacity: 1;
}
.hero__tech li:hover {
  transform: translateY(-3px);
}
@media (max-width: 56.25em) {
  .hero__tech li {
    margin-top: 1rem;
  }
}
.hero__tech li img {
  height: 2rem;
  width: 2rem;
  text-align: center;
}
.hero__git, .hero__link {
  transition: color 0.3s ease-in-out;
}
.hero__git:hover, .hero__link:hover {
  cursor: pointer;
}
.hero__git:hover {
  color: #6e5494;
}
.hero__link:hover {
  color: #0072b1;
}
.hero__img {
  flex-basis: 30%;
  position: relative;
  margin-left: 5rem;
  width: 100%;
  bottom: 8rem;
}
@media (min-width: 112.5em) {
  .hero__img {
    flex-basis: 25%;
  }
}
@media (max-width: 75em) {
  .hero__img {
    width: 60%;
    margin: 0 auto;
    bottom: 1rem;
  }
}
@media (max-width: 37.5em) {
  .hero__img {
    bottom: 5rem;
    width: 100%;
    margin: 8rem;
  }
}
@media (max-width: 23.4375em) {
  .hero__img {
    padding: 3rem 0rem;
    top: 1rem;
    margin-top: 2rem;
  }
}

.morph-effect {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 60% 40%;
  animation: morph 5s infinite, rainbow 15s linear infinite;
  opacity: 1;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  border: 6px solid rgb(0, 0, 0);
}
@media (max-width: 56.25em) {
  .morph-effect {
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
  }
}
@media (max-width: 37.5em) {
  .morph-effect {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 15rem;
    height: 15rem;
  }
}

.image {
  position: relative;
  height: 25rem;
  width: 20rem;
}
@media (max-width: 56.25em) {
  .image {
    bottom: 1rem;
  }
}
@media (max-width: 37.5em) {
  .image {
    width: 18rem;
    bottom: 5rem;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.about {
  background-color: #f0f0f0;
  display: flex;
  padding: 5rem 0;
}
@media (max-width: 56.25em) {
  .about {
    flex-direction: column;
    padding: 2rem 0;
  }
}
.about__img {
  display: flex;
  flex-basis: 45%;
  margin: auto;
  transition: opacity 1s, transform 1s;
}
@media (max-width: 37.5em) {
  .about__img {
    height: -moz-fit-content;
    height: fit-content;
    width: 18rem;
  }
}
.about__info {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin: auto;
  animation-delay: 0.5s;
  transition: opacity 1s, transform 1s;
}
@media (max-width: 56.25em) {
  .about__info {
    margin-top: 2rem;
    text-align: center;
  }
}
.about__info h3, .about__info h4, .about__info p {
  margin-right: auto;
  width: 70%;
  line-height: 1.6;
}
@media (min-width: 112.5em) {
  .about__info h3, .about__info h4, .about__info p {
    width: 55%;
  }
}
@media (max-width: 56.25em) {
  .about__info h3, .about__info h4, .about__info p {
    margin: auto;
    text-align: center;
    width: 70%;
  }
}
@media (max-width: 37.5em) {
  .about__info h3, .about__info h4, .about__info p {
    width: 90%;
  }
}
.about__info h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #0072b1;
  margin-bottom: 1rem;
}
.about__info h3 {
  font-size: 1.6rem;
  margin: 0.8rem 0;
  font-weight: 700;
  margin: 1rem 0;
}
@media (max-width: 56.25em) {
  .about__info h3 {
    margin: 1rem auto;
  }
}
.about__info p {
  font-size: 1.2rem;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  color: #333;
  margin-bottom: 1rem;
}
.about__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.8rem;
  height: 4rem;
  width: 12rem;
  background: linear-gradient(to right, #0072b1, #00304b);
  color: #ffffff;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  outline: 3px solid white;
  outline-offset: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
@media (max-width: 56.25em) {
  .about__btn {
    margin: 2rem auto;
  }
}
.about__btn:hover {
  opacity: 0.8;
  outline-offset: 0rem;
  box-shadow: none;
  transform: translateY(-2px);
}
.about__btn:active {
  transform: translateY(2px);
}
.about__img, .about__info {
  transition: opacity 1s, transform 1s;
  opacity: 0;
}

.btn-link {
  text-decoration: none;
  color: inherit;
}

.downloadSVG {
  height: 2rem;
}

.img {
  margin-left: auto;
  height: 25rem;
  border-radius: 0 50% 0 50%;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2), 0.3rem 0 0.3rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 37.5em) {
  .img {
    height: -moz-fit-content;
    height: fit-content;
    width: 18rem;
  }
}

.about__btn a {
  text-decoration: none;
  color: inherit;
}

.projects {
  margin: 5rem 15%;
}
@media (max-width: 37.5em) {
  .projects {
    margin: 5rem 0;
  }
}
@media (min-width: 112.5em) {
  .projects {
    margin: 5rem 30%;
  }
}
.projects__img {
  overflow: hidden;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 0.5rem;
  transition: all 2s ease-in-out;
}
@media (max-width: 56.25em) {
  .projects__img {
    height: 22rem;
  }
}
@media (max-width: 37.5em) {
  .projects__img {
    height: 13rem;
  }
}
.projects__img:hover {
  background-position: bottom;
}
@media (max-width: 37.5em) {
  .projects__intro {
    margin: 0 15%;
  }
}
.projects__intro h3 {
  font-size: 1.6rem;
  margin: 0.8rem 0;
  font-weight: 700;
}
.projects__intro h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #0072b1;
}
.projects__container {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  border-radius: 0.8rem;
  background-color: #f9f9f9;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.projects__container:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 56.25em) {
  .projects__container {
    flex-direction: column;
    height: auto;
    min-height: 15rem;
    margin-top: 2rem;
    padding: 0;
    width: auto;
  }
}
.projects__container--img {
  flex-basis: 150%;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 56.25em) {
  .projects__container--img {
    flex-basis: 100%;
    height: auto;
  }
}
.projects__container--info {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem 3rem;
  text-align: center;
}
.projects__container--info h3 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #0072b1;
  margin-bottom: 0.5rem;
}
.projects__container--info p {
  line-height: 1.4em;
  letter-spacing: 0.02em;
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #333;
}
@media (max-width: 56.25em) {
  .projects__container--info {
    padding: 2rem 1rem;
  }
}
.projects__container--tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.projects__container--tech p {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: 700;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
.projects__container--links {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  align-items: center;
}
.projects__container--links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
  transition: color 0.3s ease-in-out;
}
.projects__container--links a:hover {
  color: #3d89f9;
}
.projects__container--links .github-icon {
  font-size: 2.2rem;
}
.projects__container--links .live-icon {
  font-size: 1.8rem;
}
.projects__container--reversed {
  flex-direction: row-reverse;
}
@media (max-width: 56.25em) {
  .projects__container--reversed {
    flex-direction: column;
    height: auto;
    min-height: 15rem;
    margin-top: 2rem;
    padding: 0;
    width: auto;
  }
}

.projects--githubIcon {
  font-size: 1.7rem;
}

.projects--ExternalIcon {
  font-size: 1.2rem;
}

.contact {
  background-color: #f0f0f0;
  padding: 5rem 15%;
}
@media (max-width: 56.25em) {
  .contact {
    padding: 5rem 1rem;
  }
}
@media (min-width: 112.5em) {
  .contact {
    padding: 5rem 25%;
  }
}
.contact__intro {
  text-align: center;
}
.contact__intro h3 {
  font-size: 1.6rem;
  margin: 0.8rem 0;
  font-weight: 700;
}
.contact__intro h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #0072b1;
}
@media (max-width: 56.25em) {
  .contact__intro h3, .contact__intro h4 {
    margin: 0 15%;
  }
}

.container {
  display: flex;
  height: auto;
  margin: 4rem auto;
}
@media (max-width: 37.5em) {
  .container {
    margin: 2rem 0;
    flex-direction: column;
  }
}
.container__inputs {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  background-color: #ffffff;
  flex-basis: 60%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
}
.container__inputs input, .container__inputs textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(51, 51, 51, 0.2);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.container__inputs input:focus, .container__inputs textarea:focus {
  border-color: #0072b1;
  box-shadow: 0 0 5px rgba(0, 114, 177, 0.5);
  outline: none;
}
.container__inputs input::-moz-placeholder, .container__inputs textarea::-moz-placeholder {
  color: rgba(51, 51, 51, 0.6);
  font-weight: 400;
}
.container__inputs input::placeholder, .container__inputs textarea::placeholder {
  color: rgba(51, 51, 51, 0.6);
  font-weight: 400;
}
.container__inputs textarea {
  height: 10rem;
}
@media (max-width: 37.5em) {
  .container__inputs textarea {
    height: 8rem;
  }
}
.container__inputs button {
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(to right, #0072b1, #00304b);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}
.container__inputs button:hover {
  opacity: 0.8;
  box-shadow: none;
  transform: translateY(-2px);
}
.container__inputs button:active {
  transform: translateY(2px);
}
.container__info {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, #3d89f9, 80%, #054bb1 20%);
  box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.4);
  margin: auto;
  border-radius: 0.5rem;
  padding: 2rem;
  flex-basis: 35%;
}
@media (max-width: 37.5em) {
  .container__info {
    align-items: flex-start;
    position: relative;
    top: 2rem;
    margin: 0;
  }
}
.container__info h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 1rem 0;
}
@media (max-width: 37.5em) {
  .container__info h3 {
    margin-left: 2.5rem;
  }
}
.container__info--svg {
  list-style: none;
  width: 100%;
  margin-top: 2rem;
}
.container__info .what {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (max-width: 56.25em) {
  .container__info .what {
    margin: 0 1rem;
  }
}
@media (max-width: 37.5em) {
  .container__info .what p {
    font-size: 0.78rem;
  }
}
.container__info .what li {
  padding: 1rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2), 0.3rem 0 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
@media (max-width: 37.5em) {
  .container__info .what li {
    padding: 0.5rem;
  }
}

.contact--svg {
  height: 2.4rem;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #2d2e32;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  color: #fff;
  flex-wrap: wrap;
}
@media (max-width: 37.5em) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
  }
}
@media (max-width: 56.25em) {
  .footer {
    padding: 2rem 2rem;
  }
}
.footer__copy {
  font-size: 1rem;
}
@media (max-width: 37.5em) {
  .footer__copy {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
.footer__icons {
  display: flex;
  gap: 1rem;
}
@media (max-width: 37.5em) {
  .footer__icons {
    justify-content: center;
  }
}
.footer__link {
  color: white;
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}
.footer__link:hover {
  color: white;
}/*# sourceMappingURL=main.css.map */