@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");
@-webkit-keyframes rainbow {
  0% {
    border-color: #ff7f50;
  }
  14% {
    border-color: #1d2951;
  }
  28% {
    border-color: #98ddca;
  }
  42% {
    border-color: #fff9b0;
  }
  57% {
    border-color: #4aa0d5;
  }
  71% {
    border-color: #d7b8ab;
  }
  85% {
    border-color: #b57edc;
  }
  100% {
    border-color: #ff7f50;
  }
}
@keyframes rainbow {
  0% {
    border-color: #ff7f50;
  }
  14% {
    border-color: #1d2951;
  }
  28% {
    border-color: #98ddca;
  }
  42% {
    border-color: #fff9b0;
  }
  57% {
    border-color: #4aa0d5;
  }
  71% {
    border-color: #d7b8ab;
  }
  85% {
    border-color: #b57edc;
  }
  100% {
    border-color: #ff7f50;
  }
}
@-webkit-keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-left {
  opacity: 0;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in-right {
  opacity: 0;
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  body {
    overflow-x: hidden;
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  body {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  body {
    font-size: 75%;
  }
}

.nav,
.nav-sticky {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  list-style: none;
  height: 4rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #ff7f50;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}
@media (max-width: 56.25em) {
  .nav,
.nav-sticky {
    flex-direction: column-reverse;
  }
}
.nav__item,
.nav-sticky__item {
  padding-left: 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.nav__item a,
.nav-sticky__item a {
  color: inherit;
  text-decoration: none;
}
.nav__item:hover,
.nav-sticky__item:hover {
  color: #3d89f9;
}

.nav {
  position: absolute;
}
@media (max-width: 56.25em) {
  .nav {
    display: none;
  }
}

.nav-sticky {
  position: fixed;
  top: -4rem;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.nav-sticky.visible {
  top: 0;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 56.25em) {
  .nav-sticky {
    display: none;
  }
}

.Mobile {
  display: none;
}
@media (max-width: 56.25em) {
  .Mobile {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1000;
  }
}
.Mobile span {
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #333;
  transition: all 0.3s ease;
  z-index: 1000;
}
.Mobile.clicked span:nth-child(1) {
  transform: translateY(0.65rem) rotate(45deg);
}
.Mobile.clicked span:nth-child(2) {
  opacity: 0;
}
.Mobile.clicked span:nth-child(3) {
  transform: translateY(-0.65rem) rotate(-45deg);
}

.FullScreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-100%);
  overflow-y: auto;
}

.FullScreenMenu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.Mobile__nav {
  font-size: 2rem;
  list-style: none;
  width: 60%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
@media (max-width: 37.5em) {
  .Mobile__nav {
    width: 90%;
  }
}
.Mobile__nav li {
  padding: 1rem 0;
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.4rem;
}
.Mobile__nav li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media (max-width: 56.25em) {
  .hero {
    flex-direction: column-reverse;
  }
}
@media (max-width: 37.5em) {
  .hero {
    height: 100%;
  }
}
.hero__info {
  flex-basis: 40%;
  width: 95%;
}
@media (min-width: 112.5em) {
  .hero__info {
    flex-basis: 25%;
  }
}
@media (max-width: 56.25em) {
  .hero__info {
    text-align: center;
    margin: 0;
    width: 85%;
  }
}
@media (max-width: 37.5em) {
  .hero__info {
    width: 95%;
    margin-bottom: 5rem;
  }
}
.hero__info h1 {
  font-size: 3.3rem;
  font-weight: bold;
}
.hero__info p {
  font-size: 1.25rem;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  color: #2c3e50;
  margin: 1rem 0;
  font-weight: 200;
}
.hero__info--wave {
  display: inline-block;
  -webkit-animation: wave-animation 3s linear infinite;
          animation: wave-animation 3s linear infinite;
}
.hero__icons {
  display: flex;
  gap: 1rem;
  transition: color 0.3s ease-in-out;
}
.hero__icons a {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.55);
}
@media (max-width: 56.25em) {
  .hero__icons {
    justify-content: center;
  }
}
.hero__tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 56.375em) and (max-width: 74.375em) {
  .hero__tech {
    flex-wrap: nowrap;
  }
}
@media (max-width: 56.25em) {
  .hero__tech {
    flex-direction: column;
  }
}
.hero__tech__mobile {
  display: flex;
}
@media (max-width: 56.25em) {
  .hero__tech__mobile {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero__tech--border {
  position: relative;
  content: "";
  height: 2rem;
  width: 0.15rem;
  background-color: #ff7f50;
  margin-left: 1rem;
}
@media (max-width: 56.25em) {
  .hero__tech--border {
    height: 0.15rem;
    width: 6rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
.hero__tech li {
  list-style: none;
  border-radius: 100%;
  margin-left: 1rem;
  padding: 0.6rem;
  background-color: #f7f5f5;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}
@media (max-width: 56.25em) {
  .hero__tech li {
    margin-top: 1rem;
  }
}
.hero__tech li img {
  height: 2.2rem;
  width: 2.2rem;
  text-align: center;
}
.hero__git, .hero__link {
  transition: color 0.3s ease-in-out;
}
.hero__git:hover, .hero__link:hover {
  cursor: pointer;
}
.hero__git:hover {
  color: #6e5494;
}
.hero__link:hover {
  color: #0072b1;
}
.hero__img {
  flex-basis: 30%;
  position: relative;
  margin-left: 5rem;
  width: 100%;
  height: 20rem;
}
@media (min-width: 112.5em) {
  .hero__img {
    flex-basis: 25%;
  }
}
@media (max-width: 75em) {
  .hero__img {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
@media (max-width: 37.5em) {
  .hero__img {
    height: 15rem;
    width: 100%;
    margin: 5rem 0 15rem;
  }
}
@media (max-width: 23.4375em) {
  .hero__img {
    margin-top: 5rem;
    margin-left: 0;
  }
}

.morph-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 60% 40%;
  -webkit-animation: morph 7s infinite, rainbow 15s linear infinite;
          animation: morph 7s infinite, rainbow 15s linear infinite;
  opacity: 1;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  border: 6px solid rgb(0, 0, 0);
}
@media (max-width: 56.25em) {
  .morph-effect {
    width: 25rem;
    height: 20rem;
  }
}
@media (max-width: 37.5em) {
  .morph-effect {
    margin-left: 2rem;
    width: 20rem;
    height: 15rem;
  }
}

.image {
  position: relative;
  height: 28rem;
  width: 25rem;
}
@media (max-width: 56.25em) {
  .image {
    bottom: 2rem;
  }
}
@media (max-width: 37.5em) {
  .image {
    width: 20rem;
    bottom: 4rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.about {
  background-color: #f0f0f0;
  display: flex;
  padding: 5rem 0;
}
@media (max-width: 56.25em) {
  .about {
    flex-direction: column;
  }
}
.about__img {
  display: flex;
  flex-basis: 45%;
  margin: auto;
}
.about__info {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin: auto;
}
@media (max-width: 56.25em) {
  .about__info {
    margin-top: 2rem;
    text-align: center;
  }
}
.about__info h3,
.about__info h4,
.about__info p {
  margin-right: auto;
  width: 70%;
}
@media (max-width: 56.25em) {
  .about__info h3,
.about__info h4,
.about__info p {
    margin: auto;
    text-align: center;
    width: 70%;
  }
}
@media (max-width: 37.5em) {
  .about__info h3,
.about__info h4,
.about__info p {
    width: 90%;
  }
}
.about__info h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #ff7f50;
}
.about__info h3 {
  font-size: 1.6rem;
  margin: 0.8rem 0;
  font-weight: 700;
}
@media (max-width: 56.25em) {
  .about__info h3 {
    margin: 1rem auto;
  }
}
.about__info p {
  font-size: 1.15rem;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  color: #2c3e50;
}
.about__btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 3.5rem;
  width: 10rem;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color, box-shadow, 0.3s ease-in-out;
}
@media (max-width: 56.25em) {
  .about__btn {
    margin: 2rem auto;
  }
}
.about__btn:hover {
  background-color: rgba(255, 127, 80, 0.8);
  box-shadow: none;
}
.about__img, .about__info {
  transition: opacity 1s, transform 1s;
  opacity: 0;
}

.btn-link {
  text-decoration: none;
}

.downloadSVG {
  height: 2rem;
}

.img {
  margin-left: auto;
  height: 22rem;
  width: 25rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
}
@media (max-width: 37.5em) {
  .img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 18rem;
  }
}

.about__btn a {
  text-decoration: none;
  color: inherit; /* optional: use this if you want the link color to match the button text color */
}

.projects {
  margin: 5rem 15%;
}
@media (max-width: 37.5em) {
  .projects {
    margin: 5rem 0;
  }
}
@media (min-width: 112.5em) {
  .projects {
    margin: 5rem 30%;
  }
}
.projects__img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.projects__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 37.5em) {
  .projects__intro {
    margin: 0 15%;
  }
}
.projects__intro h3 {
  font-size: 1.6rem;
  margin: 0.8rem 0;
  font-weight: 700;
}
.projects__intro h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #ff7f50;
}
.projects__container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 25rem;
  margin-top: 5rem;
  border-radius: 0.8rem;
  background-color: #f0f0f0;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  display: flex;
  opacity: 0;
  position: relative;
}
@media (max-width: 56.25em) {
  .projects__container {
    flex-direction: column;
    height: 50rem;
    padding: 0;
    width: auto;
  }
}
@media (max-width: 56.25em) {
  .projects__container {
    padding: 0;
    margin: 5rem 1rem 0 1rem;
    width: auto;
  }
}
.projects__container--img {
  flex-basis: 60%;
  background-color: red;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 1rem;
  overflow: hidden;
}
.projects__container--info {
  position: relative;
  text-align: center;
  flex-basis: 50%;
  margin: auto;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
@media (max-width: 37.5em) {
  .projects__container--info {
    padding: 2rem 1rem;
  }
}
.projects__container--info h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #ff7f50;
}
.projects__container--info p {
  line-height: 1.4em;
  letter-spacing: 0.02em;
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
.projects__container--tech {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.projects__container--tech p {
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 700;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
.projects__container--links {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  align-items: center;
}
.projects__container--github, .projects__container--live {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.projects__container--github a, .projects__container--live a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  transition: color 0.3s ease-in-out;
}
.projects__container--github a:hover, .projects__container--live a:hover {
  color: #3d89f9;
}
.projects__container--github FontAwesomeIcon {
  font-size: 2rem;
}
.projects__container--live FontAwesomeIcon {
  font-size: 1.5rem;
}
.projects__container--reversed {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 25rem;
  margin-top: 5rem;
  border-radius: 0.8rem;
  background-color: #f0f0f0;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 56.25em) {
  .projects__container--reversed {
    flex-direction: column;
    height: 50rem;
    padding: 0;
    width: auto;
  }
}
@media (max-width: 56.25em) {
  .projects__container--reversed {
    margin: 5rem 1rem 0 1rem;
  }
}
.projects--githubIcon {
  font-size: 1.7rem;
}
.projects--ExternalIcon {
  font-size: 1.2rem;
}

.contact {
  background-color: #f0f0f0;
  padding: 5rem 15%;
}
@media (max-width: 56.25em) {
  .contact {
    padding: 5rem 1rem;
  }
}
@media (min-width: 112.5em) {
  .contact {
    padding: 5rem 25%;
  }
}
.contact__intro h3 {
  font-size: 1.6rem;
  margin: 0.8rem 0;
  font-weight: 700;
}
.contact__intro h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #ff7f50;
}
@media (max-width: 56.25em) {
  .contact__intro h3, .contact__intro h4 {
    margin: 0 15%;
  }
}

.container {
  display: flex;
  height: 38rem;
  margin: 4rem auto;
}
@media (max-width: 37.5em) {
  .container {
    margin: 2rem 0 20rem 0;
    flex-direction: column;
  }
}
.container__inputs {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  background-color: #ffffff;
  flex-basis: 60%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.container__firstLast {
  display: flex;
  align-content: center;
  padding-top: 3rem;
}
@media (max-width: 37.5em) {
  .container__firstLast {
    flex-direction: column;
  }
}
.container__firstLast input {
  width: 100%;
  height: 3rem;
  margin: 1rem 2rem;
  border-radius: 0.2rem;
  font-family: "Poppins", sans-serif;
  padding: 0 1rem;
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.5);
}
@media (max-width: 37.5em) {
  .container__firstLast input {
    width: auto;
    margin-bottom: 1rem;
  }
}
.container__firstLast input::-moz-placeholder {
  color: rgba(44, 62, 80, 0.6);
  font-weight: 700;
}
.container__firstLast input:-ms-input-placeholder {
  color: rgba(44, 62, 80, 0.6);
  font-weight: 700;
}
.container__firstLast input::placeholder {
  color: rgba(44, 62, 80, 0.6);
  font-weight: 700;
}
.container__subjectMsg {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
@media (max-width: 37.5em) {
  .container__subjectMsg {
    margin: 1rem 0rem;
  }
}
.container__subjectMsg input {
  height: 3rem;
  margin: 0 2rem;
  padding: 0 1rem;
  border-radius: 0.2rem;
  font-family: "Poppins", sans-serif;
  background-color: none;
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.5);
}
.container__subjectMsg input::-moz-placeholder {
  color: rgba(44, 62, 80, 0.6);
  font-weight: 700;
}
.container__subjectMsg input:-ms-input-placeholder {
  color: rgba(44, 62, 80, 0.6);
  font-weight: 700;
}
.container__subjectMsg input::placeholder {
  color: rgba(44, 62, 80, 0.6);
  font-weight: 700;
}
.container__subjectMsg textarea {
  margin: 2rem 2rem 0 2rem;
  height: 15rem;
  border-radius: 0.2rem;
  padding: 1rem 1rem;
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.5);
  font-family: "Poppins", sans-serif;
}
@media (max-width: 37.5em) {
  .container__subjectMsg textarea {
    height: 10rem;
  }
}
.container__subjectMsg textarea::-moz-placeholder {
  color: rgba(44, 62, 80, 0.6);
  font-weight: 700;
}
.container__subjectMsg textarea:-ms-input-placeholder {
  color: rgba(44, 62, 80, 0.6);
  font-weight: 700;
}
.container__subjectMsg textarea::placeholder {
  color: rgba(44, 62, 80, 0.6);
  font-weight: 700;
}
.container__subjectMsg button {
  margin: 1rem 2rem;
  width: 20%;
  height: 3rem;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0.4rem;
  background-color: #ff7f50;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
@media (max-width: 56.25em) {
  .container__subjectMsg button {
    width: 30%;
  }
}
@media (max-width: 37.5em) {
  .container__subjectMsg button {
    width: 35%;
  }
}
.container__subjectMsg button:hover {
  background-color: rgba(255, 127, 80, 0.6);
  box-shadow: none;
}
.container__info {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3d89f9;
  margin: auto;
  border-radius: 0.5rem;
  height: 105%;
  flex-basis: 40%;
}
@media (max-width: 37.5em) {
  .container__info {
    align-items: flex-start;
    position: relative;
    top: 2rem;
    margin: 0;
  }
}
.container__info h3 {
  font-size: 2rem;
  font-weight: 100;
  color: #fff;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 1rem;
}
.container__info--svg {
  list-style: none;
}
.container__info .what {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
@media (max-width: 56.25em) {
  .container__info .what {
    margin: 0 1rem;
  }
}
.container__info .what li {
  padding: 0.5rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.contact--svg {
  height: 2.4rem;
}

.footer {
  display: flex;
  background-color: #2d2e32;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
  color: #fff;
}
@media (max-width: 37.5em) {
  .footer {
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1rem;
  }
}
@media (max-width: 56.25em) {
  .footer {
    justify-content: space-between;
    padding: 2rem 2rem;
  }
}
.footer__copy {
  font-size: 1rem;
}
@media (max-width: 37.5em) {
  .footer__copy {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}
.footer__link, .footer__github {
  color: white;
}/*# sourceMappingURL=main.css.map */