.about {
  background-color: $secondary-background;
  display: flex;
  padding: 5rem 0;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__img {
    display: flex;
    flex-basis: 45%;

    // text-align: right;
    margin: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    margin: auto;

    @include respond(tab-port) {
      margin-top: 2rem;
      text-align: center;
    }

    & h3,
    h4,
    p {
      margin-right: auto;
      width: 70%;

      @include respond(tab-port) {
        margin: auto;
        text-align: center;
        width: 70%;
      }
      @include respond(phone) {
        width: 90%;
      }
    }

    & h4 {
      @include H4;
    }

    & h3 {
      @include H3;
      @include respond(tab-port) {
        margin: 1rem auto;
      }
    }

    & p {
      font-size: 1.15rem;
      @include ParagraphSpaceHeight;
      color: $text-color;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 3.5rem;
    width: 10rem;
    background-color: $primary-color;
    color: $background-color;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 0.5rem rgba(#000, 0.25);
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color, box-shadow, 0.3s ease-in-out;

    @include respond(tab-port) {
      margin: 2rem auto;
    }

    &:hover {
      background-color: rgba($primary-color, 0.8);
      box-shadow: none;
    }
  }
  &__img,
  &__info {
    transition: opacity 1s, transform 1s;
    opacity: 0;
  }
}

.btn-link {
  text-decoration: none;
}

.downloadSVG {
  height: 2rem;
}

.img {
  margin-left: auto;
  height: 22rem;
  width: 25rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(#000, 0.25);

  @include respond(phone) {
    height: fit-content;
    width: 18rem;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  opacity: 0;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.fade-in-right {
  opacity: 0;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.about__btn a {
  text-decoration: none;
  color: inherit; /* optional: use this if you want the link color to match the button text color */
}
