@keyframes rainbow {
  0% {
    border-color: #e34f26; // HTML
  }
  14% {
    border-color: #1572b6; // CSS
  }
  28% {
    border-color: #cc6699; // Sass
  }
  42% {
    border-color: #38b2ac; // Tailwind CSS
  }
  57% {
    border-color: #f7df1e; // JavaScript
  }
  71% {
    border-color: #61dafb; // React
  }
  85% {
    border-color: #68a063; // Node.js
  }
  100% {
    border-color: #e34f26; // HTML
  }
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  90% {
    transform: rotate(-10deg);
  }
  20%,
  80% {
    transform: rotate(10deg);
  }
  30%,
  70% {
    transform: rotate(-10deg);
  }
  40%,
  60% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.fade-in-left {
  opacity: 0;
  animation: fadeInSlideLeft 1s ease-out forwards;
}

.fade-in-right {
  opacity: 0;
  animation: fadeInSlideRight 1s ease-out forwards;
}

.hidden {
  opacity: 0;
  transform: translateY(30px) scale(0.95);
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes scroll {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
