.footer {
  display: flex;
  flex-direction: row;
  background-color: $footer-color;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  color: #fff;
  flex-wrap: wrap;

  @include respond(phone) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
  }

  @include respond(tab-port) {
    padding: 2rem 2rem;
  }

  &__copy {
    font-size: 1rem;

    @include respond(phone) {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  &__icons {
    display: flex;
    gap: 1rem;

    @include respond(phone) {
      justify-content: center;
    }
  }

  &__link {
    color: rgba(#fff, 1);
    font-size: 2rem;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: lighten(#fff, 20%);
    }
  }
}
