.hero {
  @include flexCenter;
  height: 100vh;
  padding: $spacing-medium;

  @include respond(big-desk) {
    margin-left: $spacing-large;
  }

  @include respond(phone) {
    height: 100%;
    padding: $spacing-small;
  }

  // Info section styles
  &__info {
    flex-basis: 40%;
    width: 95%;
    padding: $spacing-small;

    @include respond(big-desk) {
      flex-basis: 30%;
    }

    @include respond(tab-port) {
      text-align: center;
      margin: 0 auto;
      width: 85%;
    }

    @include respond(phone) {
      width: 90%;
      margin-bottom: $spacing-large;
    }

    & h1 {
      font-size: $font-size-large;
      font-weight: bold;
    }

    & p {
      font-size: $font-size-small;
      @include ParagraphSpaceHeight;
      color: $text-color;
      margin: $spacing-small 0;
      font-weight: 200;
    }

    &--wave {
      display: inline-block;
      animation: wave-animation 4.4s infinite;
    }
  }

  // Icons section styles
  &__icons {
    display: flex;
    gap: $spacing-small;
    transition: color 0.3s ease-in-out;
    padding: $spacing-small;

    & a {
      font-size: $icon-size;
      color: rgba(#000, 0.55);
    }

    @include respond(tab-port) {
      justify-content: center;
    }
  }

  // Tech section styles
  &__tech {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $spacing-small;

    @include respond-between(1375, 2361) {
      flex-wrap: nowrap;
    }

    @include respond(med-desk) {
      flex-wrap: nowrap;
    }

    @include respond(tab-port) {
      flex-direction: column;
    }

    &__mobile {
      display: flex;

      @include respond(tab-port) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &--border {
      position: relative;
      height: 2rem;
      width: 0.15rem;
      background-color: $primary-color;
      margin-left: $spacing-small;

      @include respond(tab-port) {
        height: 0.15rem;
        width: 5rem;
        margin-left: 0;
        margin-bottom: $spacing-small;
      }
    }

    & li {
      list-style: none;
      border-radius: $border-radius;
      margin-left: $spacing-small;
      padding: 0.6rem;
      background-color: #f7f5f5;
      box-shadow: $box-shadow;
      @include tooltip;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateY(-3px);
      }

      @include respond(tab-port) {
        margin-top: $spacing-small;
      }
    }

    & li img {
      height: $icon-size;
      width: $icon-size;
      text-align: center;
    }
  }

  // Git and link hover effects
  &__git,
  &__link {
    transition: color 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &__git:hover {
    color: #6e5494;
  }

  &__link:hover {
    color: #0072b1;
  }

  // Image section styles
  &__img {
    flex-basis: 30%;
    position: relative;
    margin-left: $spacing-large;
    width: 100%;
    bottom: $spacing-xlarge;

    @include respond(big-desk) {
      flex-basis: 25%;
    }

    @include respond(tab-land) {
      width: 60%;
      margin: 0 auto;
      bottom: $spacing-small;
    }

    @include respond(phone) {
      bottom: $spacing-large;
      width: 100%;
      margin: $spacing-xlarge;
    }

    @include respond(iphone) {
      padding: 3rem 0rem;
      top: 1rem;
      margin-top: $spacing-medium;
    }
  }
}

// Morph effect styles
.morph-effect {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 60% 40%;
  animation:
    morph 5s infinite,
    rainbow 15s linear infinite;
  opacity: 1;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  border: 6px solid rgb(0, 0, 0);

  @include respond(tab-port) {
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
  }
  @include respond(phone) {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 15rem;
    height: 15rem;
  }
}

// Image container styles
.image {
  position: relative;
  height: 25rem;
  width: 20rem;

  @include respond(tab-port) {
    bottom: $spacing-small;
  }
  @include respond(phone) {
    width: 18rem;
    bottom: $spacing-large;
    height: fit-content;
  }
}
